<!DOCTYPE html>
<html>
  <head>
    <title>Single Page Application</title>
    <link rel="stylesheet" href="/css/base.css"/>
    <style>
      .enabled {
        background-color: green;
        color: white
      }
    </style>

  </head>
  <body>

    <section ng-app="myApp">

      Write Hello World Application for AngularJS here ...

      <div ng-controller="HelloWorldController">
        {{message}}

        <section>
          <header><h2>Create a Contact</h2></header>
          <form novalidate>
            <input type="text" ng-model="contact.name"/> <br/>
            <input type="email" ng-model="contact.email"/> <br/>
            <input type="tel" ng-model="contact.phone"/> <br/>
          </form>
          <button ng-click="createContact()">Create Contact</button>
        </section>

        <section>
          <header><h2>List of Contacts</h2></header>
          <div><button ng-click="getContacts()">Get List of Contacts</button></div>
          <input type="text" class="enabled"/>
          <ul>
            <li ng-repeat="contact in contacts" ng-click="printContact(contact)">
              <input type="text" ng-model="contact.name" ng-class="{enabled: contact.enabled}"/>
              <button ng-click="edit(contact)">Edit</button>
              <button ng-click="updateContact(contact)">Save Changes</button>
            </li>
          </ul>
        </section>
      </div>




    </section>
    <script src="/angular/angular.js"></script>
    <script>

      angular.module('myApp', []).controller('HelloWorldController', function ($scope, Contact) {

        $scope.contact = {};
        $scope.createContact = function () {
          Contact.create($scope.contact).success(function (data) {
            console.log(data);
            $scope.contact = {};
          });
        }

        $scope.printContact = function (contact) {
          console.log(contact._id);
        }

        $scope.edit = function (contact) {
            contact.enabled = contact.enabled ? false : true;
        };

        $scope.updateContact = function (contact) {
          console.log(contact);
          Contact.update(contact);
        };



        $scope.message = 'Hello World from Node-Angular';
        /*Contact.create({
          email: 'alejandro@gmail.com',
          name: 'Alejandro',
          phone: '(123) 456-789'
        }).success(function (data) {
          console.log(data);
        });*/

        $scope.getContacts = function () {
          Contact.get().success(function (contacts) {
            $scope.contacts = contacts;
          })
        };


      }).factory('Contact', function ($http) {

        return {
            create: function (contact_object) {
              return $http.post('/contacts', contact_object);
            },
            get: function () {
              return $http.get('/contacts');
            },
            update: function (contact) {
              return $http.put('/contacts/' + contact._id, contact);
              // todo: change this to work with a configuration object for params
            },
            delete: function (contact) {
              return $http.delete('/contacts/', + contact._id);
            }
        };

      });

      console.log(angular.module('myApp'));

    </script>
  </body>
</html>
